<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Seja Bem-Vindo!!</h1>
    <p class="lead">Este é o Crypto Wallet, uma app pra você cadastrar e acompanhar as suas criptomoedas.</p>
    <p>Para começar, selecione uma das opções abaixo: </p>
    <%= render "menu" %>
  </div>
</div>



